apiVersion: flagger.app/v1beta1
kind: Canary
metadata:
  name: expense-service
  namespace: expense-tracker
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: expense-service
  service:
    port: 3000
  analysis:
    interval: 1m
    threshold: 5
    maxWeight: 50
    stepWeight: 10
    metrics:
      - name: request-success-rate
        thresholdRange:
          min: 99
        interval: 1m
      - name: request-duration
        thresholdRange:
          max: 500
        interval: 1m
    webhooks:
      - name: load-test
        url: http://flagger-loadtester/
        timeout: 5s
        metadata:
          cmd: "hey -z 1m -q 10 -c 2 http://expense-service-canary:3000/health"

